{
  "*.json": [
    "prettier --write",
    "git add"
  ],
  "*.ts,!*.css.d.ts": [
    "tslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.tsx": [
    "tslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.css": [
    "stylelint --fix",
    "prettier --write",
    "git add"
  ]
}