.container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.buttons {
  display: flex;
  margin-top: 20px;
}

.left {
  position: relative;
  z-index: 1; /* TODO */
  flex: 0 0 400px;
  margin-bottom: 25px;
}

.heading {
  margin-right: -40px;
}

.right {
  flex: 1 1;
  align-self: flex-end;
}

.image {
  display: block;
  max-width: 100%;
}

.button__first {
  margin-right: 65px;
}

.button__mobile {
  min-width: 160px;
}

@media screen and (--viewport-md-min) {
  .left {
    margin-bottom: 70px;
  }
}

@media screen and (--viewport-md-min) {
  .left {
    flex: 0 0 520px;
  }
}

@media screen and (--viewport-xs-max) {
  .container {
    flex-wrap: wrap;
  }

  .left {
    flex: 0 0 100%;
    text-align: center;
  }

  .right {
    flex: 0 0 100%;
  }

  .heading {
    margin-right: 0;
  }

  .buttons {
    width: 100%;
    justify-content: center;
  }

  .button__first {
    margin-right: 35px;
  }
}
