.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.container::after,
.container::before {
  display: table;
  content: " ";
}

.container::after {
  clear: both;
}

@media screen and (--viewport-sm-min) {
  .container {
    width: 590px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (--viewport-md-min) {
  .container {
    width: 940px;
  }
}

@media screen and (--viewport-lg-min) {
  .container {
    width: 1170px;
  }
}

@media screen and (--viewport-xl-min) {
  .container {
    width: 1900px;
  }
}
