:global .discours-theme-dark {
  /* colors */
  --color-primary: #fff;
  --color-inverse: #000;
  --color-text: #fff;
  --color-text-inverse: #000;
  --color-border: #fff;
  --color-border-inverse: #000;
  --color-background: #000;
  --color-background-inverse: #fff;
  --color-danger: red;

  /* fonts */
  --font-family-primary: Muller, Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-family-secondary: Spectral, Georgia, Times New Roman, Times, serif;
  --font-size-base: 18px;
  --letter-spacing-base: 0;
  --line-height-base: 1.4;
}
