/* This a default theme, so no extra css selectors are needed */

/* This vars will be taken by postcss-custom-properties to create fallback css properties */
:root {
  /* colors */
  --color-primary: #000;
  --color-inverse: #fff;
  --color-text: #000;
  --color-text-inverse: #fff;
  --color-border: #000;
  --color-border-inverse: #fff;
  --color-background: #fff;
  --color-background-inverse: #000;
  --color-danger: red;

  /* fonts */
  --font-family-primary: Muller, Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-family-secondary: Spectral, Georgia, Times New Roman, Times, serif;
  --font-size-base: 18px;
  --letter-spacing-base: 0;
  --line-height-base: 1.1;

  /* sizes */
  --border-width-regular: 0.1rem;
  --border-width-bold: 0.2rem;

  /* z-indexes */
  --z-index-1: 1;
  --z-index-2: 10;
  --z-index-3: 100;
  --z-index-4: 1000;
  --z-index-5: 10000;
}
