/* This a default theme, so no extra css selectors are needed */
/* This vars will be taken by postcss-custom-properties to create fallback css properties */
:root {
  --color-primary: #000;
  --color-text: #000;
  --color-border: #000;
  --color-background: #fff;
}
