html {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-base);
  line-height: var(--line-height-base);
}

::selection {
  background-color: var(--color-background-inverse);
  color: var(--color-text-inverse);
}

:global(.discours__text__inverse) {
  display: inline-block;
  background-color: var(--color-background-inverse);
  color: var(--color-text-inverse);
}

:global(.discours__text__inverse)::selection {
  background-color: var(--color-background);
  color: var(--color-text);
}

p {
  display: block;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1,
global(.discours__text__h1) {
  font-size: 2.8rem;
}

h2,
global(.discours__text__h2) {
  font-size: 2.4rem;
}

h3,
global(.discours__text__h3) {
  font-size: 2rem;
}

@media screen and (--viewport-sm-max) {
  html {
    font-size: 16px;
  }
}

@media screen and (--viewport-xs-max) {
  html {
    font-size: 14px;
  }
}

:global(.discours__text) {
  font-family: var(--font-family-secondary);
}

:global(.discours__text) h1,
:global(.discours__text) h2,
:global(.discours__text) h3,
:global(.discours__text) h4,
:global(.discours__text) h5,
:global(.discours__text) h6 {
  font-family: var(--font-family-primary);
}

@media screen and (--viewport-sm-min) {
  :global(.discours__text) {
    width: 60%;
    margin-left: 20%;
  }
  :global(.discours__text) h1,
  :global(.discours__text) h2,
  :global(.discours__text) h3,
  :global(.discours__text) h4,
  :global(.discours__text) h5,
  :global(.discours__text) h6 {
    margin-left: -7.2rem;
  }
  :global(.discours__text) h1:global(.discours__text__no-left),
  :global(.discours__text) h2:global(.discours__text__no-left),
  :global(.discours__text) h3:global(.discours__text__no-left),
  :global(.discours__text) h4:global(.discours__text__no-left),
  :global(.discours__text) h5:global(.discours__text__no-left),
  :global(.discours__text) h6:global(.discours__text__no-left) {
    margin-left: 0;
  }
}

a:not([class]) {
  /* Styles are dublicated in src/components/discours-ui-kit/Button/Button.css */
  display: inline-block;
  background-image: linear-gradient(
    120deg,
    var(--color-border),
    var(--color-border)
  );
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% var(--border-width-regular);
  color: var(--color-text);
  text-decoration: none;
  transition: background-size 0.25s ease-in;
  white-space: nowrap;
}

a:not([class]):hover,
a:not([class]):focus {
  /* Styles are dublicated in src/components/discours-ui-kit/Button/Button.css */
  background-size: 100% 90%;
  color: var(--color-text-inverse);
}
