/*
  Do not use this file to write styles
  CSS modules are used to write css to each component in isolation
*/

/* https://github.com/csstools/postcss-normalize */

@import "./vendor.css";
@import "./themes/default.css";
@import "./themes/dark.css";
@import "./fonts.css";
@import "./aria.css";

:global [class^="discours-theme"] {
  overflow: hidden;
  min-height: 100vh;
  background-color: var(--color-background);
}
