.container__outer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--color-background-inverse);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: baseline;
  order: 2;
}

.column__right {
  max-width: 320px;
}

@media screen and (--viewport-sm-max) {
  .column__right {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: "column";
    flex-grow: 1;
    align-items: center;
    order: 1;
  }
}

.link {
  margin-bottom: 15px;
}
