.container {
  display: block;
  color: var(--color-text);
}

.container__inline {
  display: inline-block;
}

.container__inverse {
  background-color: var(--color-background-inverse);
  color: var(--color-text-inverse);
}

.container svg {
  height: 18px;
}

.container__fixed_width {
  width: 22px;
  text-align: center;
}

.container :global(.stroke-inverse) {
  stroke: var(--color-text-inverse);
}

.container__inverse :global(.stroke-inverse) {
  stroke: var(--color-text);
}

.container :global(.fill-inverse) {
  fill: var(--color-text-inverse);
}

.container__inverse :global(.fill-inverse) {
  fill: var(--color-text);
}
