.container {
  display: inline-block;
  height: 1em;
  color: var(--color-text);
  font-size: inherit;
  vertical-align: -10%;
}

.container__spinning {
  animation: spin 2s infinite linear;
}
.container__inverse {
  background-color: var(--color-background-inverse);
  color: var(--color-text-inverse);
}

.container__fixed_width {
  width: 1.2rem;
  text-align: center;
}

.container :global(.stroke-inverse) {
  stroke: var(--color-text-inverse);
}

.container__inverse :global(.stroke-inverse) {
  stroke: var(--color-text);
}

.container :global(.fill-inverse) {
  fill: var(--color-text-inverse);
}

.container__inverse :global(.fill-inverse) {
  fill: var(--color-text);
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
