.common {
  display: inline-block;
  padding: 0;
  border: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.common__inline {
  display: inline-block;
  padding: 0;
  border: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  text-decoration: none;
}

.common:hover {
  cursor: pointer;
}

.common.common__inverse {
  border-color: var(--color-border-inverse);
  background-color: var(--color-background-inverse);
  color: var(--color-text-inverse);
}

.link-regular,
.link-regular-fat,
.link-underline {
  white-space: nowrap;
}

.link-regular:hover,
.link-regular-fat:hover,
.link-underline {
  background-image: linear-gradient(
    120deg,
    var(--color-border),
    var(--color-border)
  );
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% var(--border-width-regular);
}

.common__inverse.link-regular:hover,
.common__inverse.link-regular-fat:hover,
.common__inverse.link-underline {
  background-image: linear-gradient(
    120deg,
    var(--color-border-inverse),
    var(--color-border-inverse)
  );
}

.link-regular-fat:hover {
  background-size: 100% var(--border-width-bold);
}

.link-underline {
  transition: background-size 0.25s ease-in;
}

.link-underline:hover {
  background-size: 100% 90%;
  color: var(--color-text-inverse);
}

.common__inverse.link-underline:hover {
  background-size: 100% 90%;
  color: var(--color-text);
}

.button-primary {
  padding: 0.3rem 0.7rem;
  background-color: var(--color-background-inverse);
  color: var(--color-text-inverse);
}

.button-primary.common__inverse {
  background-color: var(--color-background);
  color: var(--color-text);
}

.button-regular {
  padding: 0.3rem 0.5rem;
  border: var(--border-width-regular) solid var(--color-border);
  font-weight: bold;
  text-align: center;
}

/* 
.link-background {
}



.button-fat {
}

.button-corner {
}

.button-corner-left {
}

.button-corner-right {
} */
