.common {
  color: var(--color-text);
  font-family: Muller, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.428571429;
}

.body {
  margin-top: 0;
  margin-bottom: 10px; /* TODO */
  font-size: 18px;
}

.heading {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
}

.heading3 {
  font-size: 36px;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .heading3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 520px) {
  .heading3 {
    font-size: 19px;
  }
}
