.common {
  display: block;
  color: var(--color-text);
  font-size: 1rem;
}

.common__italics {
  /* TODO move to variant */
  font-style: italic;
}

.common__danger {
  color: var(--color-danger);
}

.common__inverse {
  color: var(--color-text-inverse);
}

.common__inline {
  display: inline;
}

.common__inherit {
  color: inherit;
}

.body {
  margin-top: 0;
  margin-bottom: 10px; /* TODO */
}

.small {
  font-size: 0.7rem;
}

.big {
  font-size: 1.2rem;
}

@media screen and (--viewport-xs-max) {
  .small {
    font-size: 0.5rem;
  }
}

.heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

.heading3 {
  font-size: 2rem;
}

@media screen and (--viewport-sm-max) {
  .heading3 {
    font-size: 1.5rem;
  }
}

@media screen and (--viewport-xs-max) {
  .heading3 {
    font-size: 1.1rem;
  }
}
