@font-face {
  font-display: swap;
  font-family: "Muller";
  font-style: normal;
  font-weight: normal; /* 400 */
  src: local("Muller"),
    url("/assets/fonts/Muller/Muller-Regular.woff2") format("woff2"),
    url("/assets/fonts/Muller/Muller-Regular.woff") format("woff");
}

.common {
  display: block;
  color: var(--color-text);
  font-family: Muller, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

.common__italics {
  font-style: italic;
}

.common__danger {
  color: var(--color-danger);
}

.common__inverse {
  color: var(--color-text-inverse);
}

.common__inline {
  display: inline;
}

.common__inherit {
  color: inherit;
}

.body {
  margin-top: 0;
  margin-bottom: 10px; /* TODO */
  font-size: 18px;
}

.small {
  font-size: 14px;
}

@media (--viewport-xs-max) {
  .small {
    font-size: 9px;
  }
}

.heading {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
}

.heading3 {
  font-size: 36px;
}

@media screen and (max-width: 991px) {
  .heading3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 520px) {
  .heading3 {
    font-size: 19px;
  }
}
